@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap');

html, body, #root {
    min-height: 100vh;
    height: max-content;
}

body {
    font-family: "Inter", sans-serif;
    font-size: 16px;

    box-sizing: border-box;
}

.navlink {
    @apply block px-4 py-7 hover:bg-navy-normal;
}

.navlink.active {
    @apply bg-navy-normal;
}