@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap');

html, body, #root {
    min-height: 100vh;
    height: max-content;
}

body {
    font-family: "Inter", sans-serif;
    font-size: 16px;

    box-sizing: border-box;
}

.navlink {
    @apply block w-full py-7 flex justify-center hover:bg-navy-normal;
}

.navlink.active {
    @apply bg-navy-normal;
}